.sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  z-index: 2;
  box-sizing: border-box;
  transition: width 0.3s ease; /* Add transition for smooth animation */
}

.sidebar.open {
  width: 250px;
}

/* .button {
  margin: 0;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  background-color:white;
  border: none;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
 text-align: center;
}

.button :hover{
  background-color: aliceblue;
} */

.button {
  display: flex;
  color: black;
  margin: 0;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  background-color: white;
  border: none;
 
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.button:hover {
  background-color: aliceblue;
}

  
img{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 10px;
}







  .navbar {
    /* your existing styles */
    position: relative; /* Ensure the navbar is positioned relative or absolute */
    z-index: 1; /* Set a z-index value greater than the default */
  }